<div class="wrapper">
<section class="top-container" id="showAbout">
  <header class="showcase">
    <h1>Join someone's family plan</h1>
    <h1>Save money!</h1>
  </header>
  <div class="top-box top-box-a">
    <h1>T-mobile</h1>
    <h4 class="price">$40/mo</h4>        
    <div>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
    </div>
    <h4>Charge no overages and offer more perks</h4>
    <!-- <a href="" class="btn">Join Now</a> -->
  </div>
  <div class="top-box top-box-b">
    <h1>Cricket</h1>
    <h4 class="price">$20/mo</h4>
    <div>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
      <i class="fas fa-user-check fa-2x"></i>
    </div>
    <h4>Good price</h4>
    <!-- <a href="" class="btn">Join Now</a> -->
  </div>
</section>

<section class="boxes">
  <div class="box">
      <h1>AT&T</h1>
      <h4 class="price">$40/mo</h4>
      <div>
        <i class="fas fa-user-check fa-2x"></i>
        <i class="fas fa-user-check fa-2x"></i>
        <i class="fas fa-user-check fa-2x"></i>
        <i class="fas fa-user-check fa-2x"></i>
        <i class="fas fa-user-check fa-2x"></i>
      </div>
      <h4>Unlimited calling in and between the U.S., Mexico, and Canada</h4>
      <!-- <a href="" class="btn">Join Now</a> -->
    </div>

    <!-- <div class="box">
        <h1>Metropcs</h1>
        <h4 class="price">$25/mo</h4>
        <div>
          <i class="fas fa-user-check fa-2x"></i>
          <i class="fas fa-user-check fa-2x"></i>
          <i class="far fa-user fa-2x"></i>
          <i class="far fa-user fa-2x"></i>
        </div>
        <h4>Unlimited LTE data on FREE phones</h4>
        <a href="" class="btn">Join Now</a>
      </div> -->
<div class="box">
  <h1>Sprint</h1>
  <h4 class="price">$20/mo</h4>
  <div>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
  </div>
  <h4>Good Price</h4>
  <!-- <a href="" class="btn">Join Now</a> -->
</div>

<div class="box">
  <h1>Verizon</h1>
  <h4 class="price">$40/mo</h4>        
  <div>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
    <i class="fas fa-user-check fa-2x"></i>
  </div>
  <h4>The best coverage in rural areas</h4>
  <!-- <a href="" class="btn">Join Now</a> -->
</div>
</section>

<section class="info">
<img src="https://image.ibb.co/j4Qz8x/pic1.jpg" alt="">
<div>
  <h1>More Available plans to join</h1>
  <ul>
    <li>Competitive price</li>
    <li>Unlimited Data, Talk & Text</li>
    <li>A variety of plans you can choose</li>
  </ul>
<button class="btn" type="button" id="learn_more">Learn More</button>
</div>
</section>
</div>